*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    background-color: #FFF7F0;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Heebo", sans-serif;
}

header{
    width: 80%;
    padding: 20px 0;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo{
    background-color: black;
    width: 100px;
    height: 100px;
}

.free-consultation button{
    background-color: black;
    border: none;
    border-radius: 50px;
    color: #ffff;
    font-size: 18px;
    width: 260px;
    padding: 30px 0;
}

/* ################### MAIN SECTION ##################### */

main{
    width: 80vw;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-text{
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 12px;
}

.main-text h1{
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
}

.main-text p{
    font-size: 16px;
}

/* ######################### MAIN IMAGE SECTION ######################## */

.main-img-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-image{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    gap: 15px;
}

.main-box1{
    background-color: #7560DE;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 100px;
    
}

.graphics-design1{
    width: 90%;
    display: flex;
    margin: 0;
}

.graphics-design2{
    width: 90%;
}

.graphics-img{
    width: 50%;
    display: flex;
    justify-content: end;
}

.graphics-img img{
    margin-top: 10px;
}

.graphics-text{
    /* margin-bottom: -px; */
    width: 70%;
    color: #ffff;
    font-size: 25px;
    font-weight: 700;
}

.graphics-text2{
    width: 30%;

}

.main-box2{
    background-color: #F5A460;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 40px;
}

.main-box3{
    background-color: #F39D9E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 40px;
}

.main-box4{
    background-color: #61C4B6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 40px;
    
}

.main-box5{
    background-color: #EC7564;
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 40px;
}

.main-box6{
    background-color: #55214A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 40px;
    
}

.main-box7{
    display: none !important;
}



/* ########### MAIN BIO ################### */

.main-bio{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-info{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.main-info-img{
    width: 50%;
    display: flex;
    justify-content: center;

}

.main-info-img img{
    height: 500px;
    margin-top: 80px;
}
.main-info-text{
    width: 50%;
    padding: 150px 0;
    gap: 40px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.main-bio .main-info .main-info-text h1{
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
}

.main-info-text button{
    width: 250px;
    padding: 20px;
    background-color: #EC7564;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 700;
    color: #FFF;
}

/* ################## CAROUSEL SECTION ################# */

.carousel {
    width: 100%;
}

.carousel-container{
    width: 100%;
    display: flex;
    gap: 45px;
    flex-direction: column;
    text-align: center;
}

.carousel-text{
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
}

.carousel-img{
    width: 100%;
    display: flex;
    gap: 20px;
    overflow: hidden;
}

.carousel-img img{
    height: 380px;
    border-radius: 10px;
}

.carousel-btn{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.carousel-btn button{
    background-color: black;
    border-radius: 50%;
    border: none;
    padding: 25px;
    color: #FFF;
}

/* ############### BOOKING SECTION  ################### */

.booking{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
    border-radius: 10px;
    background-color: black;
}

.booking-container{
    display: flex;
    width: 100%;
    padding: 120px 0;
    color: #ffff;
}

.booking-text{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0 100px;
}

.booking-text  h1{
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
}

.booking-btn{
    width: 40%;
    
}

.booking-btn button{
    width: 250px;
    padding: 20px;
    background-color: #EC7564;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 700;
    color: #FFF;
    margin-top: 62px;
    margin-left: 65px;
}

/* ################## TABLET SIZE ##################### */

@media(max-width: 1023px){
 header{
    width: 90%;
 }
.logo{
    width: 80px;
    height: 80px;
}

.free-consultation button{
    background-color: black;
    border: none;
    border-radius: 50px;
    color: #ffff;
    font-size: 16px;
    width: 200px;
    padding: 30px 0;
}
    .main-image{
    width: 80%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows:  1fr ; 
    justify-content: center;
    gap: 15px;
}

.main-info{
    width: 100%;
}

.main-info-img{
    display: flex;
    justify-content: start;
    width: 50%;
}

.main-info-img img{
    height: 350px;
    margin-top: 80px;
}

.main-info-text{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-bio .main-info .main-info-text h1{
    font-size: 35px;
    font-weight: 700;
    line-height: 1.2;
}

.booking-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.booking-text{
    width: 90%;
    text-align: center;
}

.booking-text  h1{
    font-size: 35px;
    font-weight: 700;
    line-height: 1.2;
}
.booking-btn{
    width: 90%;
   display: flex;
   justify-content: center;
}

.booking-text{
    width: 80%;
}
.main-box4{
    display: none !important;
}

.main-box7{
    background-color: #61C4B6;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 40px;
}

.main-box6{
    grid-column: span 2;
}
}


/* ################### MOBILE SECTION ####################### */

@media (max-width: 768px) {

    .logo{
    background-color: black;
    width: 60px;
    height: 60px;
}

.free-consultation button{
    background-color: black;
    border: none;
    border-radius: 50px;
    color: #ffff;
    font-size: 13px;
    width: 170px;
    padding: 20px 0;
}

    .main-image {
        width: 90%; 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 24px;
    }

    .main-box1, .main-box5, .main-box6, .main-box7 {
        grid-column: span 2;
        grid-row: auto;
    }


    .main-box2, .main-box3 {
        grid-column: span 1;
    }

    .main-box1 {
        gap: 60px; 
    }

    .main-box4 {
        display: none !important;
    }

    .main-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    .main-info-img{
    display: flex;
    justify-content: center;
    width: 100%;
    }

   .main-info-img img{
    height: 300px;
    margin-top: 80px;
}

    .main-info-text{
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    .booking-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.booking-text{
    width: 90%;
    padding: 100px 0;
    text-align: center;
}

.booking-text  h1{
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
}
.booking-btn{
    width: 90%;
   text-align: center;
}

.booking-btn button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.booking-text{
    width: 80%;
}

.main-box7{
    background-color: #61C4B6;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 40px;
}
}
